In [2]:
import sys
sys.executable

'/home/ty/miniconda3/envs/pydata-book/bin/python'

In [4]:
a = [1,2,3]
b = a
b

[1, 2, 3]

In [5]:
def append_element(some_list, element):
  some_list.append(element)

append_element(a, 4)
a

[1, 2, 3, 4]

In [10]:
a = 5
type(a)
a = 5.0
type(a)
isinstance(a, int)

False

In [15]:
a =5
b = 4.5
print(isinstance(a, (int, float)))
print(isinstance(b, (int, float)))

True
True

In [17]:
def isiterable(obj):
  try:
    iter(obj)
    return True
  except TypeError:
    return False
    
print(isiterable([1,2,3]))
print(isiterable("hello"))
print(isiterable(5))
print(isiterable(5.0))

True
True
False
False

In [18]:
import some_module as sm
result = sm.f(5)
pi = sm.PI
print(pi)
print(result)

3.14159
7

In [20]:
from datetime import datetime, date, time

dt = datetime(2025, 6, 1, 12, 0, 0)
print(dt)
dt.day
dt.month
dt.year
dt.hour
dt.minute
dt.second

2025-06-01 12:00:00

0

In [21]:
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
  if value is None:
    continue
  total += value

print(total)

12

In [4]:
tup = (1, 2, 3, 4, 5)

print(tup[0])

1

In [9]:
set1 = set([1, 2, 3, 4, 1])
print(f"set1: {set1}")

set2 ={1, 2, 3, 4, 5, 6, 1, 2}
print(f"set2: {set2}")

set3 = set1.union(set2)
print(f"set3: {set3}")

set4 = set1.intersection(set2)
print(f"set4: {set4}")

set5 = set1 | set2
print(f"set5: {set5}")

set6 = set1 & set2
print(f"set6: {set6}")

set7 = set1 - set2
print(f"set7: {set7}")

set8 = set1.symmetric_difference(set2)
print(f"set8: {set8}")

set1: {1, 2, 3, 4}
set2: {1, 2, 3, 4, 5, 6}
set3: {1, 2, 3, 4, 5, 6}
set4: {1, 2, 3, 4}
set5: {1, 2, 3, 4, 5, 6}
set6: {1, 2, 3, 4}
set7: set()
set8: {5, 6}